// Шрифт
$fontSizeLabel: 50px;
$fontSize: 27px;
$lineHeight: 33px;

// Основні кольори
$mainColor: #fff;
$darkColor: #A39C9C;
$backgroundColor: #001841;
$headBackgroundColor: #000918;

// Мінімальна ширина сторінки
$minWidth: 320px;
// Ширина макету
$maxWidth: 1882px;